<!DOCTYPE html>
<html>
  <head>
    <% stylesheet_link_tag "details.css" %>
  </head>
  <body>
    <h1> Details</h1>
    <p id="name">
      <strong>Name:</strong>
      <%= @admission.name %>
    </p>

    <p id="dob">
      <strong>DOB:</strong>
      <%= @admission.dob %>
    </p>

    <p id="city">
      <strong>City:</strong>
      <%= @admission.city %>
    </p>

    <p id="regno">
      <strong>Reg_no:</strong>
      <%= @admission.reg_no %>
    </p>
  </body>
</html>
